/* src/pages/HomePage.module.css */
.homePage {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  .main {
    flex: 1;
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 20px;
  }